@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Ubuntu', sans-serif;
}
body {
  background-color: #2F3136;
  color: white;
}
nav{
    background: transparent;
    height: 90px;
    width: 98%;
    top: 0px;
    margin: 30px;
  }
  label.logo{
    line-height: 80px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #D4D4D4;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
  }
  label.logo:hover{
    background: #2F3136; 
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    margin-top: 5px;
  }
  nav ul li a{
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
  }

  a:hover{
    color: #D1D1D1;
    transition: .5s;
  }

  .bars {
    color: white;
  }

  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  section{
    padding-left: 50%;
    margin-top: -214px;
    font-size: 20px;
    background-repeat: no-repeat;
    border: 1px #4f525a solid;
    border-radius: 8px;
    text-align: center;
  }
  .home-picture{
    margin-left: 200px;
    margin-top: 100px;
    border: none;
    border-radius: 4px;
  }
  .content{
    margin: 40px;
  }