@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Ubuntu', sans-serif;
}
body {
  background-color: #2F3136;
  color: white;
}
nav{
    background: transparent;
    height: 90px;
    width: 98%;
    top: 0px;
    margin: 30px;
  }
  label.logo{
    line-height: 80px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #D4D4D4;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
  }
  label.logo:hover{
    background: #2F3136; 
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    margin-top: 5px;
  }
  nav ul li a{
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
  }

  a:hover{
    color: #D1D1D1;
    transition: .5s;
  }

  .bars {
    color: white;
  }

  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  section{
    padding-left: 50%;
    margin-top: -214px;
    font-size: 20px;
    background-repeat: no-repeat;
    border: 1px #4f525a solid;
    border-radius: 8px;
    text-align: center;
  }
  .home-picture{
    margin-left: 200px;
    margin-top: 100px;
    border: none;
    border-radius: 4px;
  }
  .content{
    margin: 40px;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 896px){
    
    .checkbtn{
      display: block;
    }
    ul{
      width: 100%;
      position: fixed;
      margin-top:30px;
      height: 100%;
      background: white;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }

    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
      color: black;
    }
    a:hover,a.active{
      background: none;
      color: #4D4D4D;
    }
    #check:checked ~ ul{
      left: 0;
    }
    label.logo {
        margin-top: -1px;
        display: inline-block;
        padding: 0;
        margin:0;
    }
    label.logo:hover{
        background: #2F3136;
    }
    section{
        padding: 0;
        margin-top:50px;
        text-align: center;
    }
    .home-picture{
      margin-top: 20px;
      margin-left: 70px;
      width: 250px;
      height: 150px;
      border: none;
      border-radius: 4px;
      justify-content: center;
    }
}
